body {
    background-color: rgb(243, 229, 216);
}

.card {
    background-color: white;
    width: 60%;
    max-width:50%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 4px 10px #0000001a;
    margin: 1% auto
}

.image {
    border-radius: 15px;
    width: 100%;
    

}